{% extends 'base.html.twig' %}

{% block title %}Mi perfil{% endblock %}

{% block body %}

    <div class="container contenedor rounded p-4 mb-4">
        <h2 class="mt-3 text-center">Detalles de tu cuenta</h2>
        <hr>
        <h3>Datos personales</h3>
        <p>Hola {{ usuario.nombre|capitalize }} {{ usuario.apellido|capitalize }}!</p>
        <p>Email: {{ usuario.email }}</p>
        <p>Ubicacion: {{ direccion.ciudad|capitalize }} {{ direccion.cp|upper }},
            {{ direccion.estado|capitalize }}, {{ direccion.pais|capitalize }} </p>
        <input type="hidden" name="idUsuario" value="{{ usuario.id }}">
        <div><a href="{{ path('editar_usuario_post', { 'id' : usuario.id}) }}" class="text-dark">Aqui puedes modificar tus datos</a></div>
        <hr>
        <h3 class="mt-3">Tus articulos</h3>
        <table class="table w-100">
        <thead>
        <tr>

            <th scope="col" class="col-2">Id</th>
            <th scope="col" class="col-2">Nombre</th>
            <th scope="col" class="col-2">Stock</th>
            <th scope="col" class="col-2">Precio</th>
            <th scope="col" class="col-2">Opciones</th>
        </tr>
        </thead>
        <tbody>
        {% for index, articulo in articulos %}
            <tr>

                <td>{{ articulo.id }}</td>
                <td>{{ articulo.nombre }}</td>
                <td>{{ articulo.stock }}</td>
                <td>{{ articulo.precio }}</td>
                <td>
                    <div class="text-center">
                    <a href="{{ path('editar_articulo_get', {'id': articulo.id}) }}">
                        <img src="{{ asset('imagenes_aplicacion/edit.png') }}" alt="Editar" title="Editar">
                    </a>
                    </div>
                    {#  <a href="{{ path('articulo_edit', {'id': articulo.id}) }}">edit</a>
                #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-center">Aun no has creado ningun articulo, crea uno pinchando
                    <a href="{{ path('articulo_new') }}"> ¡aqui!</a></td>
            </tr>
        {% endfor %}
        </tbody>
            </table>
        <h5 class="text-center">Puedes agregar un nuevo producto pinchando <a href="{{ path('articulo_new') }}">¡aqui!</a> </h5>
        <hr>
        <h3>Tus ventas:</h3>
        {% if vendedor.getNumeroVentas() == 0 %}
        <p>Aun no tienes ninguna venta.</p>
        {% else %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id Producto</th>
                    <th scope="col">Unidades vendidas</th>
                    <th scope="col">Importe total </th>
                </tr>
                </thead>
                <tbody>


            {% for index, venta in ventas %}
                <tr>
                    <td>
                        <a href="{{ path('articulo_show', {'id': venta.id_articulo }) }}"
                        class="text-decoration-none text-dark">
                            {{ venta.id_articulo }}
                        </a>
                    </td>
                    <td>{{ venta.2 }}</td>
                    <td>{{ venta.1 }}</td>
                </tr>
            {% endfor %}
                <tr>
                    <td></td>
                    <td><strong>{{ vendedor.getNumeroVentas() }}</strong></td>
                    <td><strong>{{ vendedor.getImporteVentas() }}</strong></td>
                </tr>
                </tbody>

            </table>
        {% endif %}

        <hr>
        <h3>Tus compras:</h3>
        <div class="text-center">
            <table class="table table-responsive">
        <thead>
            <tr>
                <th scope="col" class="col-4"># </th>
                <th scope="col" class="col-4">Importe</th>
                <th scope="col" class="col-4">Fecha</th>
            </tr>
        </thead>
        <tbody>
        {% set compra = 0 %}
            {% for factura in facturas %}
                <tr>
                    <th scope="row" class="col-4">
                        <a href="{{ path('factura', {'id': factura.id, 'usuario' : usuario.id }) }}"
                           class="text-decoration-none text-dark" target="_blank">
                            {{ factura.id }}
                        </a>
                    </th>
                    <td class="col-4" >{{ factura.importe }} BC</td>
                    <td class="col-4" >{{ factura.fecha|date("m/d/Y") }}</td>
                    {% set compra = compra + factura.importe %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="3" class="text-center">aun no tienes compras</td>
                </tr>
            {% endfor %}
        {% if compra > 0 %}
            <tr class="table-secondary"><td colspan="3" class="text-center">Has gastado {{ compra }} BC en compras.</td></tr>
        {% endif %}


        </tbody>
        </table>
        </div>


        <hr>
        <h3>Tu banco: </h3>
        <h5>Numero de cuenta: {{ usuario.banco.getCuentaVirtual() }}</h5>
        <h5>Balance: {{ usuario.banco.getBalance() }}</h5>


    </div>

{% endblock %}