<div class="navegacion">

    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">

            <div class="d-inline-flex justify-content-start">
            <a class="navbar-brand text-white fs-3" href="/">Buy-m3</a>
            <a class="nav-link text-white fs-5 " aria-current="page" href="{{ path('about') }}">Nosotros</a>
            <a class="nav-link text-white fs-5 " aria-current="page" href="{{ path('contacto') }}">Contacto</a>
        </div>
            {% if app.user %}

                    <div class="dropdown justify-content-center">
                        <a class="btn dropdown-toggle text-white fs-4" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ app.user.username }}
                        </a>

                        <span>
                            <a href="{{ path('carro_get',{ 'id' : app.user.id } ) }}" class="text-decoration-none text-success ">

                                <img src="{{ asset('cesta.png') }}" alt="Cesta de compra">
                            {% if app.session.get('carro')%}
                                 <span id="nroItems" class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-white mt-1">
                                     {{ app.session.get('carro') }}
                                 </span>
                                     <span class="visually-hidden">Articulos en el carro</span>
                            {% else %}
                                <span id="nroItems" class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-white mt-1">
                                     0
                                 </span>

                                {% endif %}
                                </a>
                        </span>


                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark lista-perfil" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item fs-5" href="{{ path('perfil_usuario', { 'id' : app.user.id }) }}">Perfil</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item fs-5" href="{{ path('app_logout') }}">Salir</a></li>
                        </ul>


                    </div>

                {% else %}
                    <div class="ml-auto">
                        <span class="">
                            <a class="text-decoration-none font-weight-bold btn btn-outline-light"
                               href="{{ path('app_login') }}">
                                Login
                            </a>
                        </span> &nbsp;&nbsp;&nbsp;
                        <span class="">
                            <a class="text-decoration-none font-weight-bold btn btn-outline-light"
                               href="{{ path('nuevo_usuario') }}">
                                Registro
                            </a>
                        </span>


                    </div>
                {% endif %}


        </div>

        </nav>
</div>
<div class="container text-center mt-3">
    {% for  message in app.flashes('fail') %}
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}


</div>
