{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container col-10 col-md-4 contenedor rounded p-3">
        <form method="post" id="formulario">

        {% if error %}
            <div class="alert alert-danger text-center">
                {{ error.message }}</div>
        {% endif %}


        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal text-center">Identificate</h1>
        <label for="inputEmail" class="mb-1">Email</label>
        <input type="email" name="email" id="inputEmail" class="form-control" required autofocus>
        <small class="errorEmail"></small>
        <br>
        <label for="inputPassword" class="mb-1">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>
        <small class="errorClave"></small>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}">

        <div class="text-center mt-3">

            <input type="button" value="Ingresar" class="btn btn-lg btn-success" id="enviar">

        </div>
    </form>
        {% if error %}
            <div class="text-center mt-3 ">
            <p>Si olvidaste tu contraseña <a href="{{ path('recuperar_clave') }}">Pincha aqui</a></p>
            </div>
        {% endif %}
    </div>
    <script src="{{ asset('js/loginValidation.js') }}"></script>
{% endblock %}
