
{% extends 'base.html.twig' %}

{% block title %}Buy-m3!{% endblock %}

{% block body %}
    {% set imgHeight = "150" %}
    {% set imgWidth = "100" %}


<div class="container rounded contenedor">
    {#{{ app.session.get('carro') }}

    <h3 id="it">Items en el carro {{ app.session.get('carro') }}</h3>#}
    <input type="hidden" class="carro" name="carro" value="{{ carro }}">
    <h2 class="text-center">Bienvenido a Vuy-m3</h2>
    <h4 class="mb-3">Articulos por secciones: </h4>
    <hr>
    {{ include('articulo/_seccion_articulo.html.twig', {'seccion': electronica,
        'imgHeight' : imgHeight,
        'imgWidth' : imgWidth,
        titulo : 'Electronica'}) }}
    <div class="text-center mt-3 mb-3">
        <h5>Si quieres ver todos los productos de esta seccion
            <a href="{{ path('articulos_seccion', {'seccion' : idElectronica}) }}"
               target="_blank">
                pincha aqui.
            </a>
        </h5>
    </div>
    <hr>

    <br>
    {{ include('articulo/_seccion_articulo.html.twig', {'seccion': educacion,
        'imgHeight' : imgHeight,
        'imgWidth' : imgWidth,
        titulo : 'Educacion'}) }}
    <div class="text-center mt-3 mb-3">
        <h5>Si quieres ver todos los productos de esta seccion
            <a href="{{ path('articulos_seccion', {'seccion' : idEducacion}) }}"
               target="_blank">
                pincha aqui.
            </a>
        </h5>
    </div>
    <hr>

    {{ include('articulo/_seccion_articulo.html.twig', {'seccion': alimentacion,
        'imgHeight' : imgHeight,
        'imgWidth' : imgWidth,
        titulo : 'Alimentacion'}) }}
    <div class="text-center mt-3 mb-5">
        <h5>Si quieres ver todos los productos de esta seccion
            <a href="{{ path('articulos_seccion', {'seccion' : idAlimentacion}) }}"
               target="_blank">
                pincha aqui.
            </a>
        </h5>
    </div>
    <hr>
    <br>
    {{ include('articulo/_seccion_articulo.html.twig', {'seccion': hogar,
        'imgHeight' : imgHeight,
        'imgWidth' : imgWidth,
        titulo : 'Hogar'}) }}
    <div class="text-center mt-3 mb-3">
        <h5>Si quieres ver todos los productos de esta seccion
            <a href="{{ path('articulos_seccion', {'seccion' : idHogar}) }}"
               target="_blank">
                pincha aqui.
            </a>
        </h5>
    </div>
    <hr>

    <br>
    {{ include('articulo/_seccion_articulo.html.twig', {'seccion': muebles,
        'imgHeight' : imgHeight,
        'imgWidth' : imgWidth,
        titulo : 'Muebles'}) }}
    <div class="text-center mt-3 ">
        <h5 class="mb-3">Si quieres ver todos los productos de esta seccion
            <a href="{{ path('articulos_seccion', {'seccion' : idMuebles}) }}"
               target="_blank">
                pincha aqui.
            </a>
        </h5>
    </div>
    <hr>

    <br>
    {{ include('articulo/_seccion_articulo.html.twig', {'seccion': otros,
        'imgHeight' : imgHeight,
        'imgWidth' : imgWidth,
        titulo : 'Otros'}) }}
    <div class="text-center mt-3 mb-5">
        <h5 class="pb-3">Si quieres ver todos los productos de esta seccion
            <a href="{{ path('articulos_seccion', {'seccion' : idOtros}) }}"
               target="_blank">
                pincha aqui.
            </a>
        </h5>
    </div>

</div>
    <script src="{{ asset('js/carroCompra.js') }}" type="text/javascript">

    </script>
{% endblock %}
