{% extends 'base.html.twig' %}

{% block title %}Factura{% endblock %}

{% block body %}
    {% include  'comunes/_mensajes_flash.html.twig'%}

    <div class="container rounded contenedor">

        <div class="w-75 mx-auto p-3">
            <div class="d-flex justify-content-between">
                <h2>Factura {{ factura.id }}</h2>
                <h2>Fecha: {{ factura.fecha|date("m/d/Y") }}</h2>
            </div>
            <hr>
            <div>
                <h3>Cliente: {{ app.user.nombre|capitalize}} {{ app.user.apellido|capitalize}}</h3>
                <h3>Direccion:</h3>
                <h4>{{ app.user.direccion.via|capitalize}} {{ app.user.direccion.nombreVia|capitalize}} {{ app.user.direccion.numero|capitalize}}
                    {% if app.user.direccion.piso is not null %} piso {{ app.user.direccion.piso }} {% endif %}
                    {% if app.user.direccion.puerta is not null %} puerta {{ app.user.direccion.puerta|capitalize }}{% endif %}.
                </h4>
                <h4>{{ app.user.direccion.ciudad|capitalize}} CP {{ app.user.direccion.cp}}, {{ app.user.direccion.estado|capitalize}}
                    , {{ app.user.direccion.pais|capitalize}}.</h4>

            </div>
            {{ dump(app.user) }}
            <hr>
            <div class="border border-dark">
                <table class="table text-center ">
                    <thead>
                        <tr class="table-dark text-white ">
                            <th>Cantidad</th>
                            <th>Articulo</th>
                            <th>Precio</th>
                            <th>Total</th>
                            <th>Vendedor</th>
                        </tr>

                    </thead>
                    <tbody>
                    {% for detalle in detalles %}
                        <tr>
                            <td>{{ detalle.cantidad }}</td>
                            <td><a href="{{ path("articulo_show",{'id': detalle.articuloId}) }}"  class="text-decoration-none text-dark"
                                   target="_blank" rel="noopener noreferrer">
                                    {{ detalle.articulo }}</a>
                            </td>
                            <td>{{ detalle.precio }} BC</td>

                            <td>{{ detalle.total }} BC</td>
                            <td><a
                                   class="text-decoration-none text-dark " target="_blank"
                                   rel="noopener noreferrer">
                                    {{ detalle.vendedor }}</a>
                            </td>
                        </tr>

                    {% endfor %}
                        <tr class="table-secondary">
                            <td colspan="4" class="text-end"><strong> Importe Factura: {{ factura.importe }}</strong></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="mt-3 mb-1">
            <a href="{{ path('perfil_usuario', {'id': app.user.id}) }}" class="text-decoration-none text-dark fs-3 ">
                <img src="{{ asset('imagenes_articulos/arrow.png') }}" alt="Volver a mi perfil">
                Volver a mi perfil
            </a>
            </div>
        </div>
    </div>


{% endblock %}