<h3 class="text-center">{{ titulo }}</h3>
<hr>
<div class="row">
    <div class="d-flex flex-wrap text-center justify-content-center ">
        {% for sec in  seccion  %}

            <div class="card col-5 col-md-3 m-1 m-2" >
                <a href="{{ path("articulo_show", {'id': sec.id}) }} " target="_blank">
                {% if sec.foto is null %}
                    <img src="{{ asset('imagenes_articulos/jquery.png') }}" class="card-img-top p-5" alt="..." width="{{ imgWidth }}" height="{{ imgHeight }}">
                {% else %}
                    <img src="{{ asset('imagenes_articulos/') ~ sec.foto }}" class="card-img-top p-1" alt="..." width="{{ imgWidth }}" height="{{ imgHeight }}" >
                {% endif %}
                </a>
                <div class="card-body">
                    <a href="{{ path("articulo_show",{'id': sec.id}) }}" class="text-decoration-none text-dark"
                    target="_blank">
                    <h5 class="card-title text-center">{{ sec.nombre|capitalize|length > 20 ? sec.nombre|slice(0, 20) ~ '...': sec.nombre }}</h5>
                    <p class="card-text">{{ sec.descripcion|capitalize|length > 20 ? sec.descripcion|slice(0, 20) ~ '...': sec.descripcion  }}</p>

                    {% if sec.stock > 0 %}


                        <hr>
                        <div class="d-flex justify-content-between">

                            <span>Precio</span>
                            <span >Stock</span>

                        </div>
                        <div class="d-flex justify-content-between ">

                            <span class="mr-3">{{ sec.precio }} BC</span>
                            <span >{{ sec.stock }} Unds</span>

                        </div>


                    {% endif %}
                    </a>
                </div>
                {% if app.user %}
                    {% if sec.stock > 0 %}
                        {% set inputId = 'btn' ~  app.user.id  ~  sec.id  %}
                        <hr>
                        <div class="d-grid gap-2 m-1">
                            <input type="button" value="Añadir a la cesta"
                                   class="btn btn-success btn-block text-wrap" id="{{ inputId }}"
                                   onclick="agregarAlCarro({{ app.user.id }},{{ sec.id }},{{ inputId }} )">

                        </div>
                    {% else %}
                        <div class="d-grid gap-2 m-1">
                            <input type="button" value="Agotado"
                                   class="btn btn-secondary btn-block" disabled>
                        </div>
                    {% endif %}

                {% endif%}

            </div>
        {% else %}
            <h4>Aun no hay elementos en esta seccion</h4>
        {% endfor %}
        <hr>
    </div>
</div>